{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %}Order Details{% endblock %}

{% block maincontent %}
<h2>Order #{{ order.id }} Details</h2>

<ul>
    <li>Customer: {{ order.customer.firstname }} {{ order.customer.lastname }}</li>
    <li>Mode of Payment: {{ order.paymentmode }}</li>
    <li>Date & Time Placed: {{ order.orderdatetime }}</li>
</ul>

<h4>Order Items:</h4>
<ul>
    {% if orderitem.exists %}
        {% for item in orderitem %}  
            <li>{{ item.food.name }} 
                <ul>
                    <li>Description: {{item.food.description}}</li>
                    <li>Price: ₱{{item.food.price}}</li>
                    <li>Quantity Ordered: {{ item.quantity }} pcs </li>
                    <li>Subtotal: ₱{{ item.subtotal}} </li>
                </ul> 
            </li>
        {% endfor %}
        <p><b>Total: ₱{{ order.total }}</b></p>
    {% else %}
        <p>There are no items in this order.</p> 
    {% endif %}
</ul>

{% endblock %}
