{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %}All Orders{% endblock %}

{% block maincontent %}
<h2>All Orders</h2>
<ul>
    {% for order in orderlist %}
        <li>Order #{{ order.id }} 
            <ul>
                <li>Customer: {{order.customer.firstname}} {{order.customer.lastname}} </li>
                <li>Date & Time Placed: {{order.orderdatetime }}</li>
                <li><a href="{% url 'webkiosk:order-info' order.id %}">More Info</a></li>
                <li><a href="{% url 'webkiosk:order-edit' order.id %}">Edit</a></li>
                <li><a href="{% url 'webkiosk:order-delete' order.id %}">Delete</a></li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
